.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 400px;
    max-width: 400px;
    margin: 100px auto;

    border-radius: 10px;
    border: 5px solid transparent;
    border-image: linear-gradient(
        to left top,
        #f4f9db 10%,
        transparent 30%,
        transparent 70%,
        #89abe6 90%
    );
    border-image-slice: 1;
    background: linear-gradient(90deg, #89abe6, #f4f9db);
    color: white;

    .form_text_info {
        font-weight: 700;
        font-size: 30px;
    }

    .inputs {
        .login_input {
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                height: 20px;
                min-width: 250px;
                font-weight: 700;
            }
        }

        .password_input {
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                height: 20px;
                min-width: 250px;
                font-weight: 700;
            }
        }

        div img {
            height: 30px;
            width: 30px;
        }
    }

    .buttons {
        button {
            display: inline-block;
            box-sizing: border-box;
            padding: 0 20px;
            margin: 15px 15px 15px 10px;
            outline: none;
            border: none;
            border-radius: 4px;
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            color: #fff;
            background-color: #3775dd;
            box-shadow: 0 2px #21487f;
            cursor: pointer;
            user-select: none;
            appearance: none;
            touch-action: manipulation;
            vertical-align: top;
        }
        button:hover {
            background-color: #002fed;
        }
        button:active {
            background-color: #2f599e;
        }
        button:focus-visible {
            box-shadow: 0 0 0 3px lightskyblue;
        }
        button:disabled {
            background-color: #6c87b5;
            pointer-events: none;

            a {
                color: #89abe6;
                text-decoration: none;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}
